body {
    font-family: Arial, sans-serif;
}

input {
    -webkit-appearance: none;
}

.topnav {
    margin-left: 8px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: #505050;
    text-align: center;
    font-size: 13px;
    padding: 15px 9px;
    text-decoration: none;
}

.topnav li a:hover, .topnav li a:active {
    text-decoration: underline;
}

.topnav button {
    color: white;
    background-color: #4285f4;
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 7px 12px;
    border-radius: 2px;
    outline: none;
}

.topnav button:active {
    background-color: #3c7ae4;
}

#signin {
    background-color: cornflowerblue;
}

.srarea {
    margin: 0 auto;
    width: 650px;
}

.srarea img {
    display: block;
    padding-top: 190px;
    margin: 0 auto;
}

.srarea input[type=text] {
    display: block;
    margin: 30px auto;
    width: 88%;
    padding: 10px 14px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 24px;
    font-size: 18px;
}

.srarea input[type=text]:focus, .srarea input[type=text]:hover {
    outline: none;
    box-shadow: 0 0 4px lightgrey;
}

.srarea input[type=submit] {
    padding: 8px 16px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 2px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: whitesmoke;
    color: #505050;
}

.srarea input[type=submit]:hover, .srarea input[type=submit]:focus {
    box-shadow: 0 0 2px #505050;
}

.btns {
    text-align: center;
}

footer {
    background-color: #f0f0f0;;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}

.left {
    float: left;
}

.right {
    float: right;
    padding-right: 30px;
}

footer a {
    color: #505050;
    text-align: center;
    font-size: 13px;
    padding-left: 25px;
    text-decoration: none;
}

footer a:hover, footer a:active {
    text-decoration: underline;
}