body {
    font-family: Arial, sans-serif;
}

input {
    -webkit-appearance: none;
}

.topnav {
    margin-left: 8px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    float: left;
}

.topnav li a {
    display: block;
    color: #505050;
    text-align: center;
    font-size: 13px;
    padding: 15px 9px;
    text-decoration: none;
}

.topnav li a:hover, .topnav li a:active {
    text-decoration: underline;
}

#signin {
    background-color: cornflowerblue;
}

.srarea {
    margin: 0 auto;
    width: 650px;
}

.srarea img {
    display: block;
    padding-top: 190px;
    margin: 0 auto;
}

.srarea input[type=text] {
    display: block;
    margin: 30px auto;
    width: 88%;
    padding: 10px 14px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 24px;
    font-size: 18px;
}

.srarea input[type=text]:focus, .srarea input[type=text]:hover {
    outline: none;
    box-shadow: 0 0 4px lightgrey;
}

.srarea input[type=submit] {
    padding: 8px 16px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 2px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: whitesmoke;
    color: #505050;
}

.srarea input[type=submit]:hover, .srarea input[type=submit]:focus {
    box-shadow: 0 0 2px #505050;
}

.btns {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: darkgray;
    color: #505050;
}
